{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{{object.datetime_display}} Walk List{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link href="{% static 'css/project.css' %}" rel="stylesheet">
    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->
    <!-- This file stores project-specific CSS -->
    {% endblock %}
  </head>

  <body>
    <h1 class="center">{{object.datetime_display}} ({{object.delivery_set.count}} deliveries)</h1>
    {% for delivery in object.delivery_set.all|dictsort:"recipient_sort_name" %}
      <h3>{{delivery.recipient_name|default:"zzUNKNOWN"}} ({{delivery.order_number|default:"No order number"}})</h3>
      <ul>
          {% for item in delivery.item_set.all %}
          <li><h4>{{ item.display }}</h4>{% if item.note %}{{item.note}}{% endif %}</li>
          {% endfor %}
      </ul>
    {% endfor %}
  </div>
  </body>
</html>
